name: shared
description: Shared code between arona and plana
version: 1.0.0
publish_to: none

environment:
  sdk: ^3.5.0

resolution: workspace

dependencies:
  json_annotation: ^4.9.0

dev_dependencies:
  build_runner: ^2.4.13
  json_serializable: ^6.9.2
  test: ^1.25.5
