name: shared
description: Shared code between arona and plana
version: 1.0.0
publish_to: none

environment:
  sdk: ^3.9.0

resolution: workspace

dependencies:
  json_annotation: ^4.9.0

dev_dependencies:
  build_runner: ^2.11.0
  json_serializable: ^6.11.2
  test: ^1.26.3
