# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
pubspec.lock
pubspec_overrides.yaml

# Melos
.melos_tool/

# Docker
docker-compose.override.yml
api_server/data/

# Environment files
.env
.envied*
!.env.example
!.envied.example
!.envied.*.example
!.env.docker

# Generated env files
env_*.g.dart

# FVM Version Cache
.fvm/